body, html {
    height: 100vh;
}

#landing-page {
    background-image: url("../assets/landing-image.jfif");
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: left;
}

h1 {
    padding-top: 30vh;
}

#catchphrase {
    padding: 0 10vh;
}

#landing-main {
    background-color: #d3d3d361;
    height: 100vh;
}